@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Rubik+Dirt&family=Rye&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Rubik+Dirt&family=Rye&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
      --fonte1: Verdana, Geneva, Tahoma, sans-serif;
      --fonte2: "Work Sans", serif;
      --fonte3:  "Sriracha", serif;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: rgb(219, 25, 25);
    

    
}
header{
    
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, black,rgb(44, 44, 44),rgb(51, 51, 51));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    
}


header > h1{
    font-family: var(--fonte2);
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    padding-bottom: 10%;
}
 a{
    text-decoration: none;
    
    
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal{
    background-color: rgba(224, 245, 245, 0.726);
    width: ;
    height: auto;
    border-radius: 20px;

    
}
section.imagem{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 10px;
    
    
}

section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.61);

}

    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }

